body {
    color:rgb(197, 219, 214);
    background-color:darkslategray ;
    text-align: center;
}


a {
    color:rgb(255, 246, 195);
    text-decoration: none;
    text-align: center;
}

a:hover {
    color:crimson;
}